/**
 * Styles for updatemybrowser
 */

$umb: #62bdd7;
$umb-darker: #2d94af;
$umb-dark: #2d94af;
$umb-lighter: #E5FAFF;

$green: #62bca1;
$green-lighter: #ddeee9;
$green-darker: #1b8d6c;

$gray: #29323b;

$black: black;
$white: white;

$text-color: $gray;
$link-color: $umb-darker;

::-moz-selection{ background: $umb-dark; color:#fff; text-shadow: none; }
::selection { background: $umb-dark; color:#fff; text-shadow: none; }

/********************
 * MIXINS
 ********************/

@mixin box-shadow($color) {
  -moz-box-shadow: 3px 3px 0 $color;
  -webkit-box-shadow: 3px 3px 0 $color;
  box-shadow: 3px 3px 0 $color;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#{$color}')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#{$color}');
}

/********************
 * GENERAL STYLING
 ********************/

body {
  font-size: 16px;
  color: $text-color;
}

a, a:visited, a:active {
  color: $link-color;
}

.button {
  display: inline-block;

  padding: 6px 10px;
  color: $white;
  background-color: $umb;
  @include box-shadow($umb-lighter);

  font-weight: bold;
  text-decoration: underline;
}

/********************
 * HEADER
 ********************/

header {
  padding: 30px 0;
}

nav {
  padding-top: 20px;
  text-align: center;

  li {
    margin-bottom: 10px;
  }
}

/********************
 * MAIN
 ********************/

main {

}

/********************
 * ADS
 ********************/

#adwrapper {
  border-top: 1px solid $umb-lighter;
  text-align: center;

  ins {
    background-color: transparentize($umb-lighter, .5);
  }

  .adsbygoogle {
    display: block !important;
    position: relative;
    max-width: 760px;
    margin: 20px auto;
  }
}

/********************
 * FOOTER
 ********************/

footer {
  padding: 30px 0;
  background-color: $green-lighter;

  .twitter-timeline {
    height: 100px !important;
    min-height: 100px !important;
  }
}